<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['RecipeSelector']">Food Randomizer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['RecipeList']">Manage Recipes</a></li>
                <li><a [routerLink]="['IngredientsList']">Manage Ingridients</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>