<div class="container">
    <h2>Recipe Details</h2>
    <form role="form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" id="title" type="text" [(ngModel)]="CurrentRecipe.title" />
        </div>
        <div class="form-group">
            <label for="text">Description</label>
            <textarea class="form-control" style="height: 200px;" id="text" [(ngModel)]="CurrentRecipe.text"></textarea>
        </div>
        <div class="form-group">
            <label for="showed">Showed</label>
            <input id="showed" type="checkbox" [(ngModel)]="CurrentRecipe.showed" />
        </div>
        <button (click)="save()" class="btn btn-primary">{{ CurrentRecipe.id ? 'Update' : 'Save' }}</button>
    </form>
</div>