<div class="container">
    <form role="form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" id="title" type="text" [(ngModel)]="newRecipe.title" />
        </div>
        <div class="form-group">
            <label for="text">Description</label>
            <textarea class="form-control" id="text" [(ngModel)]="newRecipe.text"></textarea>
        </div>
        <div class="form-group">
            <label for="showed">Showed</label>
            <input id="showed" type="checkbox" [(ngModel)]="newRecipe.showed" />
        </div>
        <button (click)="onTestPost()" class="btn btn-primary">Test Post</button>
        <button (click)="onTestUpdate()" class="btn btn-primary">Update</button>
    </form>
</div>